body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
img {
  border-radius: 5%;
}
* {
    box-sizing: border-box;
}


  .grid-container {
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 50% 40%;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "Main Main Main Main"
      "Footer Footer Footer Footer";
  }
  .header {
       grid-area: header; 
    }

  .airbnb {
      
      justify-self: center;
      align-self: center;
       grid-area: 1 / 1 / 2 / 2; 
    }

    .header-mid-text {
      padding-top: 16px;
      padding-right: 450px;
      padding-left: 5px;
      padding-bottom: 10px;
      border-top-width: 4px;
      border-top-style: ridge;
      border-bottom-width: 4px;
      border-bottom-style: ridge;
      border-left-width: 4px;
      border-left-style: ridge;
      border-radius: 26px 0px 0px 26px;
      border-color: rgb(241, 64,70, 0.08);
      justify-self: center;
      align-self: center;
      grid-area: 1 / 2 / 2 / 4;
    }

    .search {
      padding-top: 10px;
      padding-right: 5px;
      border-radius: 0px 26px 26px 0px;
      border-top-width: 4px;
      border-bottom-width: 4px;
      border-right-width: 4px; 
      border-color: rgb(241, 64,70, 0.08);
      border-top-style: ridge;
      border-bottom-style: ridge;
      border-right-style: ridge;
      justify-self: center;
      align-self: center;
      grid-area: 1 / 3 / 2 / 4;
    }

    .header-right-text {
      padding-left: 410px;
      align-self: center;
      grid-area: 1 / 4 / 2 / 3;
    }

    .globe {
      padding-left: 530px;
      grid-area: 1 / 4 / 2 / 3;
      align-self: center;
      justify-self: center;
    }

    .sign-up { 
        justify-self: end;
        align-self: center;
        padding: 5px 5px;
        border-width: 2px;
        border-style: groove;
        border-color:  rgb(241, 64,70, 0.08);
        border-radius: 32px;
        text-align: center;
        font-size: 16px;
        grid-area: 1 / 4 / 2 / 5; 
    }

  .main {
      /* add pictures text */
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . ."
      ". . .";
    grid-area: Main;
  }

  .main-text {
    color: white;
    grid-area: 2 / 2 / 2 / 1;
  }
  .h1 {
    font-size: 20px;
  }

  .tree {
    padding-left: 300px;
    align-self: flex-end;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "tree-text";
    grid-area: 2 / 1 / 2 / 2;
  }

    .tree-text {
      padding-left: 300px;
      justify-self: baseline;
      align-self: flex-end;
      display: grid;
      grid-template-areas: "tree-text";
      color:white;
      grid-area: 2 / 1 / 2 / 2;
    }

  .kitchen {
    padding-right: 50px;
    align-self: end;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
    grid-area: 2 / 2 / 2 / 2;
  }
  .kitchen-text {
    padding-left: 280px;
    align-self: flex-end;
    color: white;
    grid-area: 2 / 2 / 2 / 2;
  }

  .rock {
    border-radius: 10px 10px 10px 10px;
    padding-left: 100px;
    align-self: end;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      ".";
    grid-area: 2 / 3 / 2 / 4;
  }
  .rock-text {
    padding-left: 140px;
    justify-self: center;
    align-self: flex-end;
    color: white;
    grid-area: 2 / 3 / 2 / 3;
  }

  .Footer { 
      grid-area: Footer; 
    }
  .footer-text { 
    padding-top: 20px;
    font-size: 20px;
    grid-area: 3 / 1 / 4 / 3; 
    text-align: left;
    }

  .couch {
    padding-left: 300px;
    display: grid;
    align-self: center;
    grid-area: 3 / 1 / 4 / 3;
  }
  .couch-text {
    padding-left: 300px;
    align-self: flex-end;
    font-size: 15px;
    grid-area: 3 / 1 / 4 / 3;
  }

  .apron {
    padding-left: 200px;
    display: grid;
    align-self: center;
    grid-area: 3 / 2 / 4 / 3;
  }
  .apron-text {
    padding-left: 200px;
    align-self: flex-end;
    font-size: 15px;
    grid-area: 3 / 2 / 4 / 3;
  }

  .grass {
    padding-left: 100px;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-area: 3 / 3 / 4 / 3;
  }
  .grass-text {
    padding-left: 130px;
    align-self: flex-end;
    font-size: 15px;
    grid-area: 3 / 3 / 4 / 3;
  }

  